.categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: none;
}

.category-container{
    min-width: 30%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}



h2,p{
    margin: 0;
    padding: 0;
}

.category-body-container h2{
    color: rgb(194, 194, 194);
}

.category-body-container p{
    color: rgb(147, 147, 147);
}

.category-body-container{
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100px;
    justify-content: space-around;
    align-items:center;
    border: 2px solid rgb(147, 147, 147);
    padding: 10px;
    cursor: pointer;
}

.category-body-container:hover {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(147, 147, 147);
    padding: 10px;
    cursor: pointer;
    background-color: rgb(38, 38, 38);
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
}


.logo{
    height: 100px;
}

.navigationbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav-links-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link{
    color: black;
    margin: 20px;
    font-size: 25px;
}


.forminput{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}


.forminputinput{
    border: none;
    outline: none;
    height: 20px;
}


.product-card-container {
  width: 100%;
  display: grid;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;


  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
    text-align: center;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}

.product-container{
grid-template-columns: repeat(4,1fr);
display: grid;
column-gap: 10px;
row-gap: 50px;
}

.inverted{
width: 100%;
background-color: aliceblue;
border: none;
height: 50px;
text-align: center;
}

.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
    }
}


.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
}